@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Rowdies:wght@300&display=swap');

*{
    margin: 0;
    list-style-type: none;
}

a:link{
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

.first {
    height: 100vh;
    background-repeat: no-repeat, repeat;
    background: url("https://i.pinimg.com/564x/70/17/00/7017007325acb696ffaea4353397c8ee.jpg") no-repeat center center/cover;
    /* background-blend-mode: multiply; */
}

.harry-potter-heading{
    display: none;
    font-size: 3rem !important;
    margin-top: 40vh;
    margin-left: 50px;
    width: auto;
    color: #ffe8d6;
}

.harry-potter-button{
    display: none;
    margin-left: 100px;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    margin-top: 20px;
    background-color: #583101;
    color: white;
    font-family: Rowdies,sans-serif;
    padding: 10px;
}

.first:hover .harry-potter-heading{
    display: block;
}

.first:hover .harry-potter-button{
    display: block;
}

.second {
    height: 100vh;
    /* background-repeat: no-repeat; */
    
    background: url("https://i.pinimg.com/564x/cd/0e/21/cd0e21f63138337169983fa99fa9c946.jpg") no-repeat center center/cover;
    background-blend-mode: multiply;
}

.marvel-heading{
    display: none;
    font-size: 3rem !important;
    margin-top: 40vh;
    margin-left: 105px;
    width: auto;
    color: #ffe8d6;
}

.marvel-button{
    display: none;
    margin-left: 110px;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    margin-top: 20px;
    background-color: #606c38;
    color: white;
    font-family: Rowdies,sans-serif;
    padding: 10px;
}

.second:hover .marvel-heading{
    display: block;
}

.second:hover .h-primary{
    display: none !important;
}

.second:hover .marvel-button{
    display: block;
}

.third {
    height: 100vh;
    background-repeat: no-repeat, repeat;
    background: url("https://i.pinimg.com/564x/b9/28/bd/b928bd52be1664a4569a49d3821ce656.jpg") no-repeat center center/cover;
    /* background-blend-mode: multiply; */
}

.hunger-games-heading{
    display: none;
    font-size: 2.75rem !important;
    margin-top: 40vh;
    margin-left: 45px;
    width: auto;
    color: #ffe8d6;
}

.hunger-games-button{
    display: none;
    margin-left: 95px;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    margin-top: 20px;
    background-color: #e07a5f;
    color: white;
    font-family: Rowdies,sans-serif;
    padding: 10px;
}

.third:hover .hunger-games-heading{
    display: block;
}

.third:hover .hunger-games-button{
    display: block;
}

h1{
    font-family: Creepster,serif;
    font-size: 4rem !important;
    /* letter-spacing: 0.25px; */
}

/* Hover effects for darkening */
.first:hover, .second:hover, .third:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:800px) {
    .main{
        display: flex;
        flex-direction: column;
    }

    .col-4{
        width: 100% !important;
    }

    .harry-potter-heading{
        display: block;
        margin-left: 20px;
    }

    .marvel-heading{
        display: block;
        margin-left: 65px;
    }

    .hunger-games-heading{
        display: block;
        margin-left: 30px;
    }

    .harry-potter-button{
        display: block;
        margin-left: 75px;
    }

    .marvel-button{
        display: block;
        margin-left: 68px;
    }

    .hunger-games-button{
        display: block;
        margin-left: 75px;

    }
}